<footer id="footer">
    <div class="footer_top">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="footer_widget wow fadeInDown">
                    <h2>TIN TỨC TỔNG HỢP</h2>
                    <ul class="tag_nav">
                        <li><a th:href="@{/tin-tuc}">Thời sự</a></li>
                        <li><a th:href="@{/kinh-doanh}">Kinh doanh</a></li>
                        <li><a th:href="@{/giao-duc}">Giáo dục</a></li>
                        <li><a th:href="@{/doi-song}">Đời sống</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="footer_widget wow fadeInRightBig">
                    <h2>THÔNG TIN LIÊN HỆ</h2>
                    <p>
                        CÔNG TY CỔ PHẦN CÔNG NGHỆ VÀ TRUYỀN THÔNG DI ĐỘNG XANH<br/>
                        Trụ sở: Ô số 102, lô A3, Khu ĐTM Đại Kim - Định Công, P. Định Công, Q. Hoàng Mai, Hà Nội<br/>
                        VPGD: Tầng 14, tòa nhà Vinaconex9, đường Phạm Hùng, quận Nam Từ Liêm, Hà Nội<br/>
                    </p>
                    <address>
                        Người chịu trách nhiệm quản lý nội dung: Giám đốc Đỗ Trường Giang<br/>
                        Giấy chứng nhận đăng ký kinh doanh số 0102613284, thay đổi lần thứ 8 ngày 22 tháng 02 năm 2017, cấp bởi Sở Kế hoạch Đầu tư TP Hà Nội<br/>
                        Giấy phép ICP số 2481/GP-TTĐT, được Sở Thông Tin và Truyền Thông Hà Nội cấp ngày 19/06/2017<br/>
                        Email: contact@gmobi.vn<br/>
                        Điện thoại: 0888363366<br/>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <p class="copyright">Copyright &copy; 2020 <a th:href="@{/}">Green Mobile</a></p>
        <p class="developer" style="display: none;">Developed By Le Thanh Trung</p>
    </div>
</footer>