<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Glive.vn - Đời sống</title>
        <th:block th:include="common/css-common.html"></th:block>
    </head>
    <body>
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
        <div class="container">
            <th:block th:include="common/header-common.html"></th:block>
            <section id="newsSection">
                
                <iframe id="iframe-u" src="http://kaicom.vn/social_iframe.xhtml"></iframe>
                
            </section>
            <th:block th:include="common/footer-common.html"></th:block>
        </div>
        <th:block th:include="common/script-common.html"></th:block>
    </body>
</html>